@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
  }
  :root {
    --glass: rgba(255, 255, 255, 0.25)
  }
  .sidebar-container{
    @apply bg-[000] h-[96%] w-[20rem] 
          p-4 transition-all duration-500 border-solid 
          border-[000] relative bg-opacity-10
  }

  .nav-link {
    @apply flex items-center text-lg py-4 pl-4 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap 
    rounded hover:text-[#FA6900] hover:bg-[#FA6900] hover:bg-opacity-30 transition duration-300 ease-in-out
  }

  .activated{
    @apply text-[#FA6900]
  }
}


